@import "tailwindcss";

@layer utilities {
  @keyframes fadeDown {
    from {
      opacity: 0;
      transform: translateY(-20px); /* Déplace l'élément vers le haut au début */
    }
    to {
      opacity: 1;
      transform: translateY(0); /* L'élément revient à sa position d'origine */
    }
  }

  .animate-fade-down {
    animation: fadeDown 0.4s ease-out forwards;
  }

  @keyframes fadeDownCategory {
    from {
      opacity: 0;
      transform: translateY(-20px); /* Même effet pour la catégorie, déplacement vers le haut */
    }
    to {
      opacity: 1;
      transform: translateY(0); /* Retour à la position initiale */
    }
  }

  .animate-fade-down-delay {
    opacity: 0;
    animation: fadeDownCategory 0.4s ease-out 0.4s forwards;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  .animate-fade-in {
    animation: fade-in 0.2s ease-out;
  }
}




:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.aboreto{
    font-family: 'Aboreto', display, serif;
}

.border-pink{
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-color: rgba(232, 164, 153, 0.4);
}

.color-pink{
    color: #E8A499 !important;
}
